{
  "env": {
    "commonjs": {
      "presets": [
        ["@eagle/babel-preset-eagle", {"loose": true}]
      ],
      "plugins": ["add-module-exports"]
    },

    "es": {
      "presets": [
        ["@eagle/babel-preset-eagle", {"loose": true, "modules": false}]
      ]
    }
  }
}
